{
    "extends":"airbnb",
    "parserOptions":{
        "ecmaVersion":6
    },
    "env":{
        "node":true,
        "browser":true,
        "es6":true
    },
    "rules":{
        "comma-dangle":[
            "error",
            "never"
        ],
        "no-unused-vars":[
            "error",
            {
                "vars":"local",
                "args":"none"
            }
        ],
        "linebreak-style":"off",
        "arrow-parens":"off",
        "indent": ["off", 2],      
        "no-trailing-spaces"  :"off",
        "max-len":"off",
        "arrow-body-style":"off",
        "prefer-destructuring": ["error", {
            "VariableDeclarator": {
              "array": false,
              "object": false
            },
            "AssignmentExpression": {
              "array": false,
              "object": false
            }
          }, {
            "enforceForRenamedProperties": false
          }],
        "react/jsx-filename-extension" : 0,
        "react/jsx-indent" : 0

    }
}